.toolbar {
    position: fixed;
    top:0;
    left:150px;
    width: 1010px;
    height:300px;
    background: black;
    height: 56px;
    border-radius: 10px;
    height: 100px;
    
}
.spacer{
    flex:1;
}

.toolbar_navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 1px;
    }

.toolbar_logo {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    background-color: transparent;
    border:10px inset #2892d7;
    border-radius: 50%;
    box-shadow: 3px 3px 10px hsla(180, 13%, 92%, 0.5);
}
.toolbar_logo:hover {
    background-color: transparent;
    border:10px inset greenyellow;
    cursor: pointer;
}

.toolbar_logo a {
   color:#2892d7;
   text-decoration: none;
   font-size: 30px;
   width: 30px;
   margin-left: 5px;
}


.toolbar_navigation-items ul{
    list-style: none;
    display: flex;
    padding: 25px;
    margin: 0;
   
    
      
}

.toolbar_navigation-items li{
   padding: 0 20px;
   font-size: 13px;
   
       
}

.toolbar_navigation-items a{
    color:white;
    text-decoration: none;
       
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active {
 color:#2892d7;
}
    
